<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>query</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<br><br><br><br>
<br>
<div style="width: 430px;top: 25%;left: 35%;position:relative;">
    <img src="{{ url_for ('static', filename="img/404.png")}}" >
    <a href="{{ url_for('main') }}"
       class="waves-effect waves-light btn">
        <i class="material-icons left">arrow_back
        </i>Go Back</a>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>
